# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# SQLite database
*.db

# Environment variables
.env
.env.*

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db